.Drum-Machine{
    width: 100%;
    text-align: center;
}

.butn{
    width: 70%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 10;
}

.pads{
    margin: 20% auto;
    background: #2fc1ed;
    width: 50%;
    font-size: x-large;
}